@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
  @apply bg-white text-gray-800;
}

.gallery-item {
  grid-column: auto !important;
  grid-row: auto !important;
}

@media (min-width: 768px) {
  .gallery-item {
    grid-column: var(--grid-col) !important;
    grid-row: var(--grid-row) !important;
  }
}